.form-container {
  text-align: center;
  font-size: 40px;
  margin: 1em;
}
/* 
.todo > label, input, button {
  margin: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
} */


li > div{
  display: flex;
  justify-content: space-between;
}